.wrapper{
    width: 700px;
    margin: 0 auto;
    position: relative;
}
#container{
    position: absolute;
}
#container > img{
    width: 100%;
    display: none;
}
#container > img.active{
    display: block;
}
button{
    position: absolute;
    height: 100%;
    background-color: black;
    top: 0;
    color: white;
}
#prev{
    left: 0; 
}
#next{
    right: 0;
}