.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.gallery img{
    width: 270px;
    height: 150px;
    margin: 10px;
    cursor: grab;
    border: 2px solid gray;
}

.gallery img.dragging{
    opacity: 0.5;
    border: 2px solid pink;
    box-shadow: 5px 5px 15px palevioletred;
}