ul{
    list-style: none;
}
li{        font-size: 20px;
 line-height: 150px;        
}
.check{
    color: black;
}    
.active{
     color: blue;
}
.box{
    width: 100px;
    height: 100px;
    background-color: pink;
}